<%- include('../partials/header') %>

  <h2>Товари з категорії: <%= category %>
  </h2>
  <ul>
    <% products.forEach(product=> { %>
      <li>
        <strong>
          <%= product.name %>
        </strong>
        <br>
        <%= product.description %>
          <br>
          <a href="/products/<%= product.categorySlug %>/<%= product.slug %>">
            Детальніше
          </a>
          </strong>
          <% }) %>
  </ul>

  <%- include('../partials/footer') %>