<%- include('../partials/header') %>
  <h2>Products from MongoDB</h2>
  <ul>
    <% products.forEach(product=> { %>
      <li>
        Категорія:
        <a href="/products/category/<%= product.categorySlug %>">
          <%= product.category || 'Без категорії' %>
        </a>
        Назва:
        <a href="/products/<%= product.categorySlug %>/<%= product.slug %>">
          <%= product.name %>
        </a> <!-- ✅ -->
      </li>
      <% }) %>
  </ul>
  <%- include('../partials/footer') %>