<%- include('../partials/header') %>
  <h2>
    <%= product.name %>
  </h2>
  <p><strong>Price:</strong>
    <%= product.price %>
  </p>
  <p><strong>ID:</strong>
    <%= product.id %>
  </p>
  <%- include('../partials/footer') %>